.sportlightcontainer{
    display: flex;
    justify-content: space-between;
    width: 95%;
    margin: auto;
}
.spotlightimg{
    width: 47%;
}

<<<<<<< HEAD
=======




>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
.Shopworkout{
    display: flex;
    width: 90vh;
    margin: auto;
    justify-content: space-between;
}
.shopbyworkimg{
width: 23%;
}



.tradmilcontainer{
    display: flex;
    flex-direction: row;
    overflow-x:scroll;
    /* width:900px; */
    scroll-behavior: smooth;
<<<<<<< HEAD

=======
    
>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
}



.itembox{
   min-width: 300px;
   max-width: 200px;
   margin: 10px;
}
<<<<<<< HEAD

=======
   
>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
.maincont{
    /* width: 1000px; */
    /* position: relative; */
    width:95%;
    margin:auto
    /* overflow:scroll; */
}


.titletext{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-style: italic;
    font-size: 24px;
    text-align: start;
}
.productname{
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 600;
    /* display: flex;
    flex-direction: row;
    /* overflow-x: hidden; */
    /* width: 100%;
    overflow: hidden;
    height: 20px; */ 
    margin-top: 20px;

}
.pricebox{
    display: flex;
    justify-content: space-evenly;
    width: 80%;
    margin-top: 5px;
<<<<<<< HEAD

=======
 
>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
}
.percentage{
    color: red;
    font-weight: 600;
}
.actualprice{
    text-decoration: line-through;
    color: gray;
}
.price{
    font-size: 16px;
    font-weight: 600;
<<<<<<< HEAD
}
.images{
    width: 300px;
}
.productname{
    font-size: 15px;
    text-decoration: none;
=======
>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
}