.Storepage{
    background-color: white;
}

.heading{
font-size: 25px;
}
.loginbtn{
    width: 200px;
    /* margin-left:-20px ; */
    margin-top: 20px;
}





.signupbtn{
    width: 200px;
    margin-top: 20px;
}
<<<<<<< HEAD
=======



>>>>>>> 80fb68d8ca52cb1eb4a01d0a11fdc5533b151143
